django
djangorestframework       
djangorestframework_simplejwt 
gunicorn
whitenoise 
django-cors-headers
python-dotenv    
argon2-cffi
django-allauth  
django-schema-viewer
django-filter
xhtml2pdf
WeasyPrint

